[Desktop Entry]
Type=Application
Version=1.0
Name=element-desktop
Comment=element-desktop startup script
Exec=/usr/bin/element-desktop
StartupNotify=false
Terminal=false
